<%- include('./partials/header') %>

<h1 class="page-title osully">O'Sully's</h1>
<h1 class="page-title wonders-of"> Wonders of Ireland</h1>
<div class="index-card-container">
    <div class="card-index">
        <div class="image-container index-image-container">
            <img src="../images/moher-reduced.jpg" class="index-image"/>
        </div>
        <br>
        <h1 class="card-name-index"> Explore Natural Wonders </h1>
        <div class="index-description-container">
            <p class="index-description">From dizzying cliffs to ancient volacnic geometry, Ireland's Seven Natural Wonders have inspired poets and pilgrims, wanderers and wayfarers for centuries.</p>
        </div>
        <a href="/wonders/natwonders" class="explore-link index-explore-link">Natural Wonders</a>
    </div>
    <div class="card-index">
        <div class="image-container index-image-container">
            <img src="../images/christ-church.jpeg" class="index-image"/>
        </div>
        <br>
        <h1 class="card-name-index"> Explore Historical Wonders </h1>
        <div class="index-description-container">
            <p class="index-description">Ireland's rich history is embedded in countless jewels of staggering architecture, verdant gardens, and holy shrines across the island.</p>
        </div>
        <a href="/wonders/historywonders" class="explore-link index-explore-link">Hisorical Wonders</a>
    </div>
</div>
<%- include('./partials/footer') %>