<%- include('./partials/header') %>

<h1>O'Sully's Wonders of Ireland</h1>
<a href="/wonders/natwonders">Explore Natural Wonders</a>
<a href="/wonders/historywonders">Explore Historical Wonders</a>

<%- include('./partials/footer') %>