*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-image: linear-gradient(90deg,#169B62 33.33%, white 33.33%, white 66.66%, #FF883E 66.66%); */

    /* background-image: linear-gradient(to right, #41A4F8, #40A3F8, #3EA2F7, #3EA2F7, #3FA1F6, #3DA1F6, #3DA0F7, #3FA1F6, #3EA2F7, #41A4F9, #42A6F7, #3FA2F5, #42A5F8, #43A5F6, #42A6F7, #44A6F9, #43A5F6, #44A6F9, #42A6F7, #45A8FB, #47A7F8, #49AAF9, #47ABF9, #4CAAFC, #4BABFB, #4EAEFA, #50B0FC, #4BABFB, #4EAEFA, #50B0FC, #56B1FA, #55B2FB); */

    /* background-blend-mode: screen; */

    /* background-image: url('../images/ireland-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: 100% 100%; */
}

.test-background {
    /* background-color: #3DA0F7; */
    background-color: #44A6F9 
}

.bottom-background {
    height: 1100px;
    background-image: url('../images/ireland-background-edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100% 100%;
}

h1 {
    text-align: center;
}

#new-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-form > input {
    margin: 1em;
}

.new-wonder {
    background-color: #146849;
    color: white;
    padding: 0.5rem;
    border-radius: 7%;
    text-decoration: none;
}

.new-wonder:hover {
    background-color: #7CC303;
    color: black;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4vh auto;
}

.card {
    margin-top: 5vh;
    background-color: #dce2cd;
    /* background-color: #1ABC9C; */
    padding: 2vw;
    border-radius: 5%;
    width: 22%;
    height: 60vh;
    box-shadow: 10px 10px #3786ca;
}

.image-container {
    align-items: center;
    /* background: blue; */
    height: 52%;
}

.card-image {
    width: 16vw;
    height: 25vh;
    object-fit: contain;
    margin: auto;
    display: block;
}

.card-name {
    margin: 0 0 1vh 1.5vw;
}

.card-description {
    margin: auto 1.5vw 2vh 1.5vw;
}

.explore-link {
    margin: auto 1.5vw auto 1.5vw;
    background-color: #146849;
    color: white;
    padding: 0.5rem;
    bottom: 0;
    border-radius: 7%;
    text-decoration: none;
}

.explore-link:hover {
    background-color: #7CC303;
    color: black;
}

.tour-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tour-links-word {
    margin: 2vh 0 1vh 0;
}

.tour {
    margin: 0.3vh;
}

.delete-card {
    margin: 5vh auto;
}

.yes-no-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    background-color: #DC3545;
    color: white;
    border-radius: 7%;
    padding: 1vh 1vw;
    margin: 0 0 3vh 0;
}

.home-link {
    position: absolute;
    margin-top: 900px;
    left: 47.5vw;
    right: 47.5vw;
    text-align: center;
    background-color: #85AE28;
    color: black;
    padding: 0.5rem;
    border-radius: 7%;
    text-decoration: none;
}

.home-link:hover {
    background-color: #4F751B;
    color: white;
}

/* SWITCH SECTION START */
    .switchbox {
        display: flex;
    }

    .hswitch {
        align-self: center;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 1em;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FF883E;
        -webkit-transition: .4s;
        transition: .4s;
    }
  
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
  
    input:checked + .slider {
        background-color: #169B62;
    }
  
    input:focus + .slider {
        box-shadow: 0 0 1px #169B62;
    }
  
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
  
    .slider.round {
        border-radius: 34px;
    }
  
    .slider.round:before {
        border-radius: 50%;
    }
/* SWITCH SECTION END */

/* NEW FORM EXPERIMENTAL CSS */
    /* .new-stuff-container {
        display: flex;
        justify-content: space-around;
    }

    .new-stuff {
        display: flex;
        flex-direction: column;
        width: 15%;
        text-align: center;
    }

    #new-form > input {
        margin: 1em;
    } */
/* NEW FORM EXPERIMENTAL CSS END */